[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/fastapi/src/
Environment="PATH=/home/ubuntu/fastapi/venv/bin"
EnvironmentFile=/home/ubuntu/.env
ExecStart=/home/ubuntu/fastapi/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target